#.dockerignore
**

!.dockerignore
!Dockerfile
!docker-compose.yml
!Dockerfile.multistage
!go.mod
!go.sum
!cmd/**
!core/**
!makefile
!infrastructure/aws/sdk/**
!infrastructure/persistence/**
!infrastructure/transport/**


infrastructure/aws/cdk/**
